tr {
  font-size: 20px;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .imgContainer {
      border: 2px solid #ddd;
      border-radius: 16px;
      padding: 1rem;
      color: white;
      transition: all ease-in 0.3s;

      img {
        max-width: 100px;
        max-height: 100px;
        transition: all ease-in 0.3s;
      }
    }
  }

  .count {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      font-size: 24px;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 50%;
      background-color: #42b883aa;
      justify-content: center;
      align-items: center;
      margin: 0 8px;
      width: 32px;
      height: 32px;
      transition: all ease 0.3s;

      &:hover {
        color: black;
        background-color: #0efaa5;
        filter: drop-shadow(0 0 2em #42b883aa);
      }
    }
  }

  .trash {
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 1em red);
    }
  }

  &:hover .imgContainer {
    border-color: #42b883aa;
  }

  &:hover img {
    filter: drop-shadow(0 0 2em #42b883aa);
  }
}
